name: API Security Automation

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  security-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Newman
        run: npm install -g newman

      - name: Install Newman HTML Reporter
        run: npm install -g newman-reporter-html

      - name: Run Security Tests
        run: |
          newman run API_Security.postman_collection.json \
          -e Bosta.postman_environment.json \
          -r cli,html \
          --reporter-html-export newman/report.html

      - name: Upload Newman HTML Report
        uses: actions/upload-artifact@v4
        with:
          name: newman-report
          path: newman/report.html

